body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #25292d;
}
h1 {
  margin-bottom: 30px;
  padding-right: 20px;
}
a {
  color: #0093ff;
}
a:hover {
  text-decoration: none;
  color: #0075d7;
}
.transparent {
  color: transparent;
}
.btn-outline-success {
  color: #00cf25;
  border-color: #00cf25 !important;
}
.btn-outline-success:hover {
  background-color: #00cf25;
}
.btn-outline-primary {
  color: #0093ff;
  border-color: #0093ff !important;
}
.btn-outline-primary:hover {
  background-color: #0093ff;
}
.btn-outline-warning {
  color: #ff9b00;
  border-color: #ff9b00 !important;
}
.btn-outline-warning:hover {
  background-color: #ff9b00;
  color: #fff !important;
}
.btn.disabled {
  color: #b1b1b1 !important;
  border-color: #b1b1b1 !important;
  cursor: default;
  box-shadow: none !important;
}
.btn.disabled:hover {
  color: #b1b1b1 !important;
  background-color: #fff !important;
}
#vue-wrapper .main-container {
  padding-top: 50px;
  min-height: 100vh;
  max-width: 1254px;
}
#vue-wrapper .paragraph-container {
  position: relative;
  margin-bottom: 25px;
}
#vue-wrapper .controls {
  position: relative;
  top: 5px;
}
#vue-wrapper .control-button {
  opacity: 0.7;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
}
#vue-wrapper .control-button.btn-copy {
  width: 35px;
  height: 35px;
  font-size: 14px;
  margin-bottom: 8px;
}
#vue-wrapper .control-button.btn-reduce {
  margin-bottom: 14px;
}
#vue-wrapper .control-button.btn-add {
  width: 40px;
  height: 40px;
}
#vue-wrapper .control-button.btn-copy-all {
  width: 115px;
  height: 114px;
  border-width: 5px;
  font-size: 38px;
}
@media screen and (min-width: 992px) {
  #vue-wrapper .control-button.btn-copy-all {
    position: fixed;
    top: calc(50vh - 57px - 52px);
  }
}
#vue-wrapper .control-button.btn-copy-all .icon-container {
  display: block;
  width: 60px;
  height: 65px;
  position: relative;
}
#vue-wrapper .control-button.btn-copy-all i {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  position: absolute;
  background-color: #fff;
  transition: background-color 0.15s ease-in-out;
}
#vue-wrapper .control-button.btn-copy-all i.first {
  z-index: 5;
  top: 0;
  left: 0;
}
#vue-wrapper .control-button.btn-copy-all i.second {
  z-index: 10;
  top: 13px;
  left: 13px;
}
#vue-wrapper .control-button.btn-copy-all i.third {
  z-index: 15;
  top: 26px;
  left: 26px;
}
#vue-wrapper .control-button.btn-copy-all:hover i {
  background-color: #00cf25;
}
#vue-wrapper .control-button.btn-copy-all:active {
  border-color: #28a745 !important;
}
#vue-wrapper .control-button.btn-copy-all:active i {
  background-color: #28a745;
}
#vue-wrapper .control-button.btn-copy-all:focus,
#vue-wrapper .control-button.btn-copy-all:active {
  box-shadow: 0 0 0 0.4rem rgba(40,167,69,0.5);
}
#vue-wrapper p {
  margin: 0;
  padding: 14px;
  margin-right: 6px;
  border-radius: 8px;
  border: 5px solid #fff;
  transition: border-color 0.07s linear;
}
#vue-wrapper p.flash {
  border-color: #94dea2;
}
footer {
  padding: 14px;
  font-size: 16px;
}
